USE [db_pelicula]
GO
/****** Object:  Table [dbo].[clasificacionpelicula]    Script Date: 02-03-2018 0:13:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clasificacionpelicula](
	[idClasificacion] [bigint] NOT NULL,
	[nombreClasificacion] [varchar](50) NOT NULL,
	[descripcionClasificacion] [varchar](500) NOT NULL,
 CONSTRAINT [PK_clasificacionpelicula] PRIMARY KEY CLUSTERED 
(
	[idClasificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[clasificacionpelicula] ([idClasificacion], [nombreClasificacion], [descripcionClasificacion]) VALUES (1, N'MUY BUENA', N'BUENA ACEPTACION DEL PUBLICO')
INSERT [dbo].[clasificacionpelicula] ([idClasificacion], [nombreClasificacion], [descripcionClasificacion]) VALUES (2, N'BUENA', N'EL PUBLICO NO QUEDO EUFORICO PERO SI LA DISFRUTO')
INSERT [dbo].[clasificacionpelicula] ([idClasificacion], [nombreClasificacion], [descripcionClasificacion]) VALUES (3, N'REGULAR', N'LA PELICULA NO TENIA SENTIDO')
